body {
	color: $white;
	font-family: "Lora";
}

[class$="__header"],
[class$="__quote"] {
	display: inline-block;
	text-align: center;
	background-color: $black-trans;
	transform: skewX(-20deg);

	.text {
		display: inline-block;
		transform: skewX(20deg);
	}
}

[class$="__header"] {
	font-size: 48px;
	letter-spacing: 2px;
	margin-bottom: 25px;
	padding: 0 15px;
	font-weight: 400;
}