.content {
	background: url(images/background.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 100%;
	transition: .2s;
	z-index: 0;

	.inner-container {
		position: absolute;
		padding: 120px 10vw 50px 10vw;
		width: 100%;
		height: 100%;
		bottom: 10%;
	}
}

@media only screen and (min-width: 768px) {
	.content {
		filter: blur(0px);
	}
} 